/* ---------------------------------------- */
/* --------DEFAULT SETUP------------- */
/* ---------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------- */
/* -----------REUSEABLE COMPONENT-------- */
/* -------------------------------------- */

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.row {
    max-width: 80%;
    margin: 0 auto;
}
h1,h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;/*khoảng cách giữa các chữ đi chung với word-spacing*/
}
h1 .heading-main-h1{
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    line-height: 135%;/* khoảng cách giữa các dòng*/
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
}
/* dòng kẻ ở dưới h2 */
h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgb(230, 126, 34,0.5);
    margin: 0 auto;
    margin-top: 5px;
}

h3 {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    font-size: 120%;
    font-weight: 600;
    color: white;
    border-radius: 7px 7px 0px 0px;
}
.p-long {
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin: 30px 0;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section{
    padding: 50px;
}

.products-ul li a{
    text-decoration: none;
}
.small-icon {
    color: #2d5f5d;
    font-size: 130%;
    margin-right: 5px;
}
/* -------------------------------------- */
/* ------------------HEADER-------------- */
/* -------------------------------------- */
header {
    /* background-image: linear-gradient(45deg, rgb(38, 80, 119) 55%,rgb(45, 95, 93)), url("../img/background4.jpeg"); */
    background-image: linear-gradient(to right top, rgb(38, 80, 119,0.8),rgb(45, 95, 93, 0.5)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.logo {
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 1s;/* thời gian hiển thị của border-bottom ;*/
    padding: 3px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid white;/*khi click chuột vào sẽ có sự thay đổi là thêm border-bottom bên dưới tag a*/
}

.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.btn:hover,
.btn:active {
    background-color: #d35400;
    color: cyan;
}

/* -------------------------------------- */
/* ----------------ABOUT SECTION */
/* -------------------------------------- */
.about-picture {
    position: relative;
}

.about-picture img {
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077; /* 5 thông số(x-y-độ mờ-độ phỏng-màu */
    margin-top: 40px;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: beige;
    font-size: 18px;
    font-weight: 400;
    transform: translate(-65%, 100%);
    opacity: 0;
}
.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, 0%);
    opacity: 1;
    transition: all 1.4s;
}
.about-picture:hover img,
.about-picture:active img {
    filter: brightness(60%) blur(2px);
}

/* --------------------------------------- */
/* ----------Product section-------------- */
/* --------------------------------------- */

.products-section {
    background-color: #f4f4f4;
}

.product-box {
    background-color: #eeefff;
    height: 350px;
    box-shadow: 3px 5px 10px #e0e0e0;
}
.product-price {
    text-align: center;
    font-size: 200%;
    font-weight: 200;
    color: #265077;
}

.product-price span{
    color: #265077;
    font-size: 80%;
    font-weight: 200;
}
.product-box ul li{
    margin-left: 25%;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-box .btn {
    margin-left: 20%;
    margin-top: 5%;
}
/* --------------------------------------------- */
/* ------------TESTIMONIAL---------------------- */
/* --------------------------------------------- */

.testimonial-section {
    background-image: linear-gradient(to right top, rgb(38, 80, 119,0.8),rgb(45, 95, 93, 0.5)), url("../img/background2.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
}
.testimonial-section h2 {
    margin-bottom: 3%;
}
blockquote {
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    font-weight: 200;
    color: white;
}
blockquote::before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}
cite {
    display: block;
    color: #6b95bd;
    margin-top: 25px;
}
cite img {
    border-radius: 50%;
    border: 1px solid #265077;
    margin-right: 5%;
    height: 50px;
    vertical-align: middle;
}

/* --------------------------------------------- */
/* ------------SPONSORS SECTION----------------- */
/* --------------------------------------------- */

.sponsors-section {
    background-color: #f4f4f4;
}
.sponsors-showcase {
    margin-left: 8%;
}
.sponsors-showcase li {
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
    /* khoan cach thi dung margin */
}
.sponsors-section h2 {
    margin-bottom: 50px;
}
.logo-sponsors {
    width: 140px;
    cursor: pointer;/* hình con chuột là bàn tay */
    transition: all 0.7s;
}
.sponsors-showcase li .logo-sponsors:hover,
.sponsors-showcase li .logo-sponsors:active {
    transform: scale(1.2);
    cursor: pointer;/* hình con chuột là bàn tay */
}
figcaption {
    color: #265077;
    font-size: 120%;
    font-weight: 700;
}

/* --------------------------------------------- */
/* ----------------CONTACT SECTION-------------- */
/* --------------------------------------------- */
.contact-section {
    background-image: linear-gradient(to right top, rgb(38, 80, 119,0.8),rgb(45, 95, 93, 0.5)), url("../img/background5.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-section li {
    list-style: none;
}

/* --------------------------------------------- */
/* ----------------FOOTER----------------- */
/* --------------------------------------------- */

footer {
    text-align: center;
    background-color: #8d8282;
    color: red;
    padding: 20px;
}
